/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.grules {
  padding: 15px;
}


.parallelogram {
  clip-path: polygon(0 19%, 85% 23%, 100% 100%, 14% 100%);
  padding: 20px 40px;
  height: 35px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ifm-color-primary);
  margin-bottom: 25px;
}

.parallelogram h3 {
  margin-top: 10px;
  margin-bottom: 0;
}